<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Admin
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous")

  body
    div.container
      a(href="/") На главную
      br
      br
      a(href="/logout") Выйти
      br
      br

      h1 Add new product

      form.upload-product
        div.alert.alert-danger(style="display:none") You must fill all required fields
        div.alert.alert-success(style="display:none") Success

        div.form-group
          label Title
          input.form-control(type="text" name="title")

        div.form-group
          label Vendor Code
          input.form-control(type="text" name="vendorCode")

        div.form-group
          label Price
          input.form-control(type="number" name="price")

        div.form-group
          label Price All
          input.form-control(type="number" name="priceAll")

        div.form-group
          label Manufacturer
          input.form-control(type="text" name="manufacturer")

        div.form-group
          label Material
          input.form-control(type="text" name="material")

        div.form-group
          label Appearance
          input.form-control(type="text" name="appearance")

        div.form-group
          label Glass
          input.form-control(type="text" name="glass")

        div.form-group
          label Thickness
          input.form-control(type="number" name="thickness")

        div.form-group
          label Count In Package
          input.form-control(type="number" name="countInPackage")

        div.form-group
          label Select good image
          input.form-control-file.input-product-image(type="file")

        button.btn.btn-primary Create product



    script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous")
    script(src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous")
    script(src="/js/admin.js")
